<h1>Welcome! Place holder for welcome page </h1>

<ul>
  <li><a href="/npcs">NPC Index</a></li>
  <li><a href="/organizations">Organization Index</a></li>
  <li><a href="/items">Items Index</a></li>
</ul>